@font-face {
    font-family: curlyCursive;
    src: url(ext/ShorelinesScriptBold.otf);
}

@font-face {
    font-family: handwritten;
    src: url(ext/DKLemonYellowSun.otf);
}

#header {
    text-align: center;

}
.button {
    background-image:linear-gradient(red, yellow);
    border:Black;
    color: White;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    margin: 4px 4px;
    cursor: pointer;
}

h1 {
    font-family: curlyCursive;
    font-size: 40pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav {
    border: solid 1px black;
    background-color: rgba(0, 0, 204, 0.6);
    font-family: handwritten;
    color: black;
    font-size: 16pt;
}

nav ul {
    padding: 0px;
    margin: 0px;

}

nav ul li {
    list-style: none;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 24%;
}

body {

    background-image:linear-gradient(to Right,white, yellow);
    text-align: center;
}

table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

td {
    border: solid 4px black;
    height: 20vh;
    font-family: handwritten;
    color: black;
    font-size: 30pt;
    background-color: rgba(204, 0, 0, 0.6)
}

td:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

a:link {
    text-decoration: none;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:active {
    text-decoration: underline;
}

a:focus {
    color:Red;
}